{% extends 'layout.html' %}

{% block title %}Edit Car{% endblock %}

{% block content %}
<h2>Edit Car</h2>
{% if msg %}
  <p class="message">{{ msg }}</p>
{% endif %}

<form method="post" enctype="multipart/form-data">
  <p>Car Model: <input type="text" name="car_model" value="{{ car_details[1] }}" required></p>
  <p>Registration Number: <input type="text" name="registration_number" value="{{ car_details[2] }}" required></p>
  <p>Year: <input type="number" name="year" value="{{ car_details[3] }}" required></p>
  <p>Seating Capacity: <input type="number" name="seating_capacity" value="{{ car_details[4] }}" required></p>
  <p>Rental per Day: <input type="number" name="rental_per_day" value="{{ car_details[5] }}" required></p>
  
  {% if car_details[7] %}
    <img src="{{ url_for('static', filename='images/' + car_details[7]) }}" alt="Car Image" width="200">
  {% else %}
    <p>No image available</p>
  {% endif %}
  <div class="mb-3">
    <label for="formFile" class="form-label">Car Image:</label>
    <input class="form-control" name="car_image"  accept="image/*" type="file" id="formFile">
  </div>
 
  <p>Is Available: <input type="checkbox" name="is_available" {% if car_details[6] %}checked{% endif %}></p>
  <p><input type="submit" class="btn btn-primary" value="Save Changes"></p>
  <a href="{{ url_for('view_all_cars') }}">Cancel</a>
</form>

{% endblock %}
